<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<th:block th:each="cart:${carts}">
    <p th:text="${'Название товара: ' + cart.getProduct().name}"></p>
    <p th:text="${'Количество товара: ' + cart.getAmount()}"></p>
    <div style="display: flex; flex-direction: row;">
        <form method="get" action="/products/cart/decrease">
            <button type="submit" name="cartId" th:value="${cart.id}">-</button>
        </form>
        <span th:text="${cart.getAmount()}"></span>
        <form method="get" action="/products/cart/increase">
            <button type="submit" name="cartId" th:value="${cart.id}">+</button>
        </form>
        <form method="get" action="/products/cart/delete">
            <button type="submit" name="cartId" th:value="${cart.id}" style="margin-left: 10px;">Delete</button>
        </form>
    </div>
    <div style="border-bottom: solid 1px black; margin-bottom: 2px; margin-top: 5px"></div>
</th:block>
<p th:text="${'Сумма всех товаров: ' + sum + ' тг.'}"></p>
<!--<form method="get" action="/products/placeOrder">-->
<!--    <button type="submit" name="userId" th:value="${carts.get(0).getUser()}"></button>-->
<!--</form>-->
<form method="get" action="/products/update_cart">
    <button>Main page</button>
</form>

</body>
</html>