<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" type="text/css" href="/css/product_resource_1_page.css"/>
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

<th:block th:replace="fragments/head_stripe_fragment :: header"></th:block>
<!--<div class="head_stripe">
    <div>
        <a th:if="${isAdmin == true}" href="/products/create/category">
            <button class="head_button">Создать товар</button>
        </a>
        <a href="/products/cart">
            <button class="head_button">Корзина</button>
        </a>
        <a href="/products/orders">
            <button class="head_button">Заказы</button>
        </a>
        <a th:if="${isAdmin == true}" href="/products/moderate_reviews">
            <button class="head_button">Модерация отзывов</button>
        </a>
        <a th:if="${isAdmin == true}" href="/products/moderate_orders">
            <button class="head_button">Модерация заказов</button>
        </a>
    </div>
    <div th:if="${user_entered == false}">
        <a href="/login">
            <button class="head_button">Вход</button>
        </a>
        <a href="/user/sign_up">
            <button class="head_button">Регистрация</button>
        </a>
    </div>
    <div th:if="${user_entered == true}">
        <div class="true">
            <button class="head_button" th:text="${'Hi, ' + user.getFirstName()}"></button>
            <div class="false">
                <button class="signed_button top" th:text="${'Hi, ' + user.getFirstName()}"></button>
                <a href="/logout">
                    <button class="signed_button bottom">Выход</button>
                </a>
            </div>
        </div>
    </div>
</div>-->

<div style="display: flex; justify-content: center; margin: 10px 50px 0 50px;">
    <form th:each="category : ${categories}" method="get" action="/products/category">
        <button type="submit" th:text="${category.getName()}" name="categoryId" th:value="${category.getId()}"></button>
    </form>
</div>


<div class="products_container">
    <div th:each="product : ${products}" class="product_block">
        <div th:text="${product.getName()}" class="product_name"></div>
        <div class="buttons_container">
            <form th:if="${isAdmin == true}" method="get" action="/products/change">
                <button type="submit" name="productId" th:value="${product.getId()}" class="product_button">
                    Edit
                </button>
            </form>
            <form method="get" action="/products/view">
                <button type="submit" name="productId" th:value="${product.getId()}" class="product_button">
                    View
                </button>
            </form>
            <form method="get" action="/products/addToCart">
                <button type="submit" name="productId" th:value="${product.getId()}" class="product_button">
                    Add to Cart
                </button>
            </form>
        </div>
    </div>
</div>

<div style="display: flex; justify-content: flex-end; margin: 15px 50px 0 0;">
    <form th:if="${pageNumber > 4}" method="get" action="/products">
        <button type="submit" name="prevPack" value="1"><<</button>
        <input type="hidden" name="pageNumber" th:value="${pageNumber - 1}">
    </form>

    <form th:if="${pageNumber > 1}" method="get" action="/products" style="margin-right: 5px;">
        <button type="submit" name="prevPage" value="1"><</button>
        <input type="hidden" name="pageNumber" th:value="${pageNumber - 1}">
    </form>

    <form th:if="${pageNumber > 4}" method="get" action="/products">
        <button type="submit" name="pageNumber" value="0">1</button>
    </form>

    <span th:if="${pageNumber > 4}">...</span>

    <form th:each="i : ${#numbers.sequence(startPage, lastPage)}" method="get" action="/products">
        <button th:if="${i != pageNumber}"
                type="submit" name="pageNumber" th:text="${i}" th:value="${i - 1}"></button>
        <button th:if="${i == pageNumber}" style="background-color: #afd5ab"
                type="submit" name="pageNumber" th:text="${i}" th:value="${i - 1}"></button>
    </form>

    <span th:if="${totalPages - startPage >= 4}">...</span>

    <form th:if="${totalPages - startPage >= 4}" method="get" action="/products">
        <button type="submit" name="pageNumber" th:value="${totalPages - 1}" th:text="${totalPages}"></button>
    </form>

    <form th:if="${isPageLast == false}" method="get" action="/products" style="margin-left: 5px;">
        <button type="submit" name="nextPage" value="1">></button>
        <input type="hidden" name="pageNumber" th:value="${pageNumber - 1}">
    </form>

    <form th:if="${lastPage != totalPages}" method="get" action="/products">
        <button type="submit" name="nextPack" value="1">>></button>
        <input type="hidden" name="pageNumber" th:value="${pageNumber - 1}">
    </form>
</div>


</body>
</html>