<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product View</title>
</head>
<body>

<!--Описание товара-->
<p>Название товара: <b th:text="${product.getName()}"></b></p>
<p>Категория товара: <b th:text="${product.getCategory().getName()}"></b></p>
<p>Цена товара: <b th:text="${product.getPrice()}"></b></p>

<th:block th:each="characteristic : ${characteristics}">
    <p>
    <div style="display: flex;">
        <div th:text="${characteristic.getCharacteristic().getName()} + ':'"></div>
        <b th:text="${characteristic.getDescription()}"></b>
    </div>
    </p>
</th:block>

<p>Средний рейтинг товара: <b th:text="${averageRating}"></b></p>


<!--Оставить отзыв и рейтинг-->
<form method="post" action="/products/saveReview" style="margin-top: 70px;">
    <input type="hidden" name="productId" th:value="${product.getId()}">
    <select name="rating" style="margin-bottom: 5px;">
        <option disabled selected>Choose rating</option>
        <option th:each="i : ${#numbers.sequence(1,5)}"
                th:value="${i}"
                th:text="${i}">
    </select>
    <br/>
    <input type="text" name="commentary" placeholder="Leave a commentary" style="width: 500px;"/>
    <br/>
    <br/>
    <button type="submit">Save</button>
</form>


<!--Отзывы-->
<div style="margin-top: 100px;">
    <th:block th:each="review : ${reviews}">
        <p>
        <div style="display: flex;">
            <div th:text="${review.getReviewDate()}"></div>
            <div style="margin-left: 15px;"
                 th:text="${review.getUser().getFirstName()} + ' ' + ${review.getUser().getLastName()}"></div>
        </div>
        <div style="display: flex; border-right: 1px solid black; width: 500px;">
            <div th:text="${review.getRating()}"></div>
            <div style="margin-left: 15px;" th:text="${review.getCommentary()}"></div>
        </div>
        </p>
    </th:block>
</div>

</body>
</html>