<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

<a href="/products/create/category">
    <button type="submit" style="width: 150px; height: 50px;">Create product</button>
</a>

<div th:each="product : ${products}" style="border-bottom: 1px solid black; ">
    <h3 th:text="${product.getName()}"></h3>

    <div style="display: flex; margin-bottom: 5px;">
        <form method="get" action="/products/change">
            <button type="submit" name="productId" th:value="${product.getId()}">Edit</button>
        </form>

        <form method="get" action="/products/view">
            <button type="submit" name="productId" th:value="${product.getId()}">View</button>
        </form>
    </div>

</div>

</body>
</html>